/* ---- Main Theme Design  ---- */

.card_news {
	padding: 0px;
}
.card_news:hover {
	background-color: rgba(255, 10, 13, 0.1);
}

.card_news_body {
	padding: 0.5rem 1.25rem 0rem 1.25rem;
}
*/ .card {
	min-height: 13vh;
}

.bg-gradient-info {
	background: linear-gradient(87deg, #1e3c72 0, #2a5298 100%) !important;
}

.bg-gradient-default {
	background: white !important;
}

.btn-primary {
	color: #fff;
	background-color: #22437f;
	border-color: #234480;
}

.btn-primary:hover {
	color: #fff;
	background-color: #1c386b;
	border-color: #1e3a6d;
}

.bg-info {
	background-color: #193464 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #fff;
	background-color: #233a64;
}

.nav-pills .nav-link {
	padding: 0.75rem 0.75rem;
	color: #204079;
	font-weight: 500;
	font-size: 0.65rem;
}

.text-muted {
	color: #53677d !important;
}

/* ----------- Input Field Design ----------- */

.form-control {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem);
	padding: 0rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	outline: 0;
	box-shadow: 0 0 0 0.1rem rgba(39, 93, 240, 0.25);
}

.react-dropdown-select-content {
	width: 50%;
}

.inputValue {
	margin-left: 0%;
}

.inputCurrency {
	margin-right: 0%;
}

/* ----------- End Input Field Design ----------- */

.top_pannel {
	height: 12vh;
}

.nav-pills .nav-item:not(:last-child) {
	padding-right: 0.1rem;
	margin-bottom: 0.5rem;
}

/* ----------- CSS Custom for MD/LG Screen ----------- */
@media (max-width: 1199px) {
	.top_pannel {
		height: 100%;
	}

	.inputValue {
		margin-right: 0%;
		margin-left: 0%;
	}

	.inputCurrency {
		margin-right: 0%;
		margin-left: 0%;
		margin-top: 0%;
	}

	.reverse_div {
		text-align: center;
		display: flex;
		align-items: center;
	}

	.reverse {
		margin-top: 4%;
	}
}
/* ----------- End CSS Custom for MD Screen ----------- */

@media (min-width: 767.98px) {
	.navbar-vertical.navbar-expand-md .navbar-brand-img {
		margin-right: 5%;
	}
}

/* ----------- CSS Custom for XS/SM Screen ----------- */

@media (max-width: 767.98px) {
	.list-group-item {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.top_pannel {
		height: 100%;
	}

	.info_date {
		margin-top: 0px;
	}
}
/* ----------- End CSS Custom for XS/SM Screen ----------- */

/* ----------- GRAPH Currency Design ----------- */

.card_graph_currency {
	background-color: #ffffff;
	border-style: none;
}

/* ----------- End GRAPH Currency Design ----------- */

.span_currency {
	font-size: '1rem';
	font-weight: bold;
}

.select_currency {
	display: flex;
	justify-content: left;
}

.list-group-item {
	padding: 0.15rem 1.25rem;
}

.list-group-item.active {
	background-color: #282c31;
	border-color: #b3b3b3;
}

.error_data {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 42px;
	height: 120px;
	display: flex;
	justify-content: center;
}

.btn-outline-danger:focus {
	outline: 0 !important;
	outline-offset: 0 !important;
	background-image: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-secondary:focus {
	outline: 0 !important;
	outline-offset: 0 !important;
	border: 0;
	color: black;
	background-color: #f7fafc;
}

.vertical-center {
	min-height: 100%;
	display: flex;
	align-items: center;
}

/* ----------- FONT Management ----------- */

@font-face {
	font-family: 'poppinsbold';
	src: url('./fonts/poppins-bold-webfont.woff2') format('woff2'), url('./fonts/poppins-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinsmedium';
	src: url('./fonts/poppins-medium-webfont.woff2') format('woff2'), url('./fonts/poppins-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinssemibold';
	src: url('./fonts/poppins-semibold-webfont.woff2') format('woff2'), url('./fonts/poppins-semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppinsregular';
	src: url('./fonts/poppins-regular-webfont.woff2') format('woff2'), url('./fonts/poppins-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

p {
	font-family: 'poppinsregular';
	color: #474747;
	font-size: 0.85rem;
}

/* ----------- End FONT Management ----------- */
